@{
    ViewBag.Title = "À propos";
}
<h2>Application Web - Fil de nouvelles</h2>
<h3>Plateforme ASP.Net MVC framework 4.8 </h3>

<p>A été développé par Nicolas Chourot dans un contexte pédagogique.</p>
