@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Nicolas Chourot</h3>

<address>
    Enseignant<br />
    Département d'informatique<br />
    Collège Lionel-Groulx <br />
    <a href="mailto:Nicolas.Chourot@clg.qc.ca">Nicolas.Chourot@clg.qc.ca</a>
</address>
